.weather {
  background-color: rgb(255 255 255 / 24%);
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 20px;

  margin: 20px auto auto auto;
  width: 425px;
}

.top, .bottom {
  font-size: 20px;
  color: #4a4a4a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom{
  margin-top: 30px;
}


.city {
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  margin-bottom: 10px;
}

.weather-description {
  font-size: 18px;
  font-weight: bold;
  color:  #4a4a4a;
  margin-bottom: 20px;
  list-style: 1;
}

.weather-icon {
  width: 100px;
  height: 100px;
  margin: 0 25px;
  filter: brightness(140%);
}


.temperature{
  font-weight: bold;
  font-size: 70px;
  width: 350px;
  letter-spacing: -5px;
  margin: 10px 10px;
}

.details{
  width: 100%;
  padding-left: 40px;
}

.parameter-row{
  display: flex;
  justify-content: space-between;
}

.parameter-label{
  text-align: left;
  font-weight: 500;
  font-size: 18px;
}

.parameter-value{
  text-align: right;
  font-weight: 700;
  font-size: 18px;
}